.backGround{
    background-image: url(../src/assets/images/background/pexels-tirachard-kumtanom-584305.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
}
.quizBackGround {
    background-image: url(../src/assets/images/background/quizBackGround.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
}
.landingStyle{
    text-align-last: center;
    top: 35%;
    position: relative;
    text-align: -webkit-center;
    display: grid;
    grid-template-columns: max-content;
    place-content: center;
}
.landingStyle button{
    padding: 2px 3px 9px;
    margin-bottom: 4vh;
}
.cardTest{
    text-align: -webkit-center;
    position: relative;
}
.cardCenter{
    position: relative;
    top: 22%;
    border: 2px black solid;
    background-color: antiquewhite;
    width: 49vw;
}
.profileStyle{
    position: relative;
    top: 22vh;
}
.landingTitle{
    background-color: aquamarine;
    width: 35vw;
    border: 2px black solid;
    padding-bottom: 10px;
    margin-bottom: 50px;
    font-family: 'Oleo Script Swash Caps', cursive;
    border-radius: 23px 18px;
}
.butStyle{
    margin-top: 10px;
}
@media(max-width:391px){
.landingTitle{
    width: 87vw;
}
.landingStyle{
    top: 30%;
}

}
@media(max-width:505px){
    #nav-Time{
        display: none;
    }
}
/* mobile freindly
add a quiz colors
post on linkedin
*/
