.image{
    width: 100px;
    height: 100px;
}
.style{
   border: 2px red solid;
}
.tri{
    width: 21vw;
    height: 33vh;
}
.questions button{
    width: 33vw;
    border: 4px black solid;
    margin-top: 30px;
    /* height: 7vh; */
}
.questions button:disabled{
    background-color: white;
}
.answer-section{
    display: grid;
    position: relative;
    row-gap: 63px;
    margin: auto;
    place-items: center;
    grid-template-columns: auto auto;
  
}


.endText{
    text-align: center;
    background: darkgoldenrod;
    font-family: cursive;
    text-shadow: 1px 1px blue;
    border: 2px black solid;
}
.animation{
    animation-name: slidein;
    animation-duration: .5s;
    /* animation-fill-mode: forwards; */
    font-family: cursive;
    text-shadow: 1px 1px blue;
    /* display: grid; */
    /* place-items: center; */
    position: relative;
    top: -30vh;
    z-index: 1;
    right: -30vw;
    width: 41vw;
}
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
.animation div{

  }
.animation button{
    border: 2px black solid;
    border-radius: 21px 21px;
    height: 5vh;
    width: 16vw;
}

.score-section{
    text-align: center;
    margin: auto;
    position: relative;
    top: 26%;
    display: grid;
    width: 30vw;
    font-family: cursive;
    font-size: 23px;
}
.score-section h1{
    background-color: aqua;
    border: 3px black solid;
}
.score-section button{
    border: 2px black solid;
    border-radius: 21px 21px;
}
.correctAnswer{
    font-size: 37px;
    background-color: rgb(80, 253, 12);
    width: 40vw;
    border: 3px black solid;
    border-radius: 2px 29px;
    margin-bottom: 11px;
}
.wrongAnswer{
    font-size: 37px;
    background-color: darkgoldenrod;
    width: 40vw;
    border: 3px black solid;
    border-radius: 29px 2px;
    margin-bottom: 11px;
}
.slideAnimation{
    animation-name: slideOut;
    animation-duration: .5s;
       animation-fill-mode: forwards;
}
@keyframes slideOut {
    from {
      margin-left: 0%;
      /* width: 300%; */
    }
  
    to {
      margin-right: 500%;
     
      /* width: 100%; */
    }
  }
@media(max-width:391px){
    .animation button {
        width: 37vw;
    }
    .correctAnswer{
        width: 44vw;
    }
    .wrongAnswer{
        position: relative;
    right: 26px;
    width: 56vw;
    }
    .score-section h1 {
        width: 37vw;
    }
}