.image{
    width: 100px;
    height: 100px;
}
.style{
   border: 2px red solid;
}
.tri{
    width: 21vw;
    height: 33vh;
}
.questions button{
    width: 14vw;
}
.answer-section{
    display: grid;
    grid-template-areas: 'left center right';
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 83px;
    grid-gap: 67px;
    width: 100vw;
    /* background-color: rgb(244, 240, 244); */
    margin-top: 26vh;
}
.endText{
    text-align: center;
    background: darkgoldenrod;
    font-family: cursive;
    text-shadow: 1px 1px blue;
    border: 2px black solid;
}
.animation{
    animation-name: slidein;
    animation-duration: .5s;
    /* animation-fill-mode: forwards; */
    font-family: cursive;
    text-shadow: 1px 1px blue;
}
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
