.navbar {
  height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background: rgba(6, 114, 245, 0.9);
  height: 5vh;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-links {
  color: rgb(2, 0, 0);
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: contents;
}

.nav-links:hover {

  transition: transform 300ms;
  transform: translateY(-5px);

}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  /* width: 70vw; */
  justify-content: end;
  margin-right: 2rem;
  position: relative;
  top: -27px;
}

.quizMenu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  float: right;
  margin-inline-end: auto;
  position: relative;
  top: -27px;

}

#nav-Time {
  color: aliceblue;
}
.quizTitle{
  font-size: 50px;
    border: 2px black solid;
    background-color: antiquewhite;
    border-radius: 28px 31px;
    width: 35vw;
}
.marginDash{
  margin-top: 20%;
}
@media(max-width:391px){
  .quizTitle{
    width: 83vw;
  }
}
@media(min-width:820px){
    .quizTitle{
      width: 68vw;
    height: 6vh;
    }
}
@media(min-width:540px){
  .quizTitle{
    width: 61vw;
  }
}
@media(min-width:414px){
  .quizTitle{
    width: 71vw;
  }
}
@media(min-width:393px){
  .quizTitle{
    width: 70vw;
  }
}
@media(min-width:1024px){
    .marginDash{
      margin-top: 10vh;
    }
    .quizTitle{
      height: 11vh;
      width: 48vw;
    }
    .navbar{
      height: 6vh;
    }
}
@media(min-width:815px){
  .quizTitle{
    height: 13vh;
  }
}
