.quizSelect{
    /* border: 2px black solid; */
    width: 27%;
    height: 19vh;
    display: grid;
    /* grid-template-areas: 'left center right'; */
    grid-template-rows: repeat(2, 1fr);
    grid-template-rows: 79px;
    grid-gap: 4px;
    width: 31vw;
    /* background-color: rgb(244, 240, 244); */
    text-align: -webkit-center;
}
.quizSelect button{
    background-color: #0098ff;
    font-family: cursive;
}
.dash{
    text-align: -webkit-center;
}