.quizSelect{
    /* border: 2px black solid; */
    width: 27%;
    height: 28vh;
    display: grid;
    grid-gap: 16px;
    width: 37vw;
    grid-template-rows: auto auto auto;
    text-align: -webkit-center;
}
.quizSelect button{
    background-color: #0098ff;
    font-family: cursive;
}
.dash{
    text-align: -webkit-center;
}

@media(max-width:391px){
    .quizSelect{
        width: 57vw;
        height: 32vh;
    }
   
}
